[submodule "ZprimeTo4l"]
	path = ZprimeTo4l
	url = https://github.com/SanghyunKo/ZprimeTo4l
[submodule "EgammaUser/EgammaPostRecoTools"]
	path = EgammaUser/EgammaPostRecoTools
	url = https://github.com/cms-egamma/EgammaPostRecoTools
